<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="./backMember.html">
            <img src="./img/index/LOGO.svg" width="100" class="d-inline-block align-top">
        </a>
        <div>
            <span id="managerId">撈取管理者ID</span>
            <button type="button" class="btn btn-outline-secondary btn-sm" id="btnLogout">登出</button>
        </div>
    </nav>
</header>

<nav class="col-md-2  d-md-block bg-light sideNav">
    <div class="sidebarContent">
       <ul class="nav flex-column">
           <li class="navItem"><a href="./backMember.html" class="@@nowPage0">帳號管理</a></li>
           <!-- <li class="navItem"><a href="" class="@@nowPage1">心理測驗管理</a></li> -->
           <li class="navItem"><a href="./backRoute.html" class="@@nowPage2">路線管理</a></li>
           <li class="navItem"><a href="./backAttraction.html" class="@@nowPage3">景點管理</a></li>
           <li class="navItem"><a href="./backMapgame.html" class="@@nowPage4">地圖攻略管理</a></li>
           <li class="navItem"><a href="./backMood.html" class="@@nowPage5">心情檢舉管理</a></li>
           <li class="navItem"><a href="./backEvent.html" class="@@nowPage6">揪團檢舉管理</a></li>
           <li class="navItem"><a href="./backpostcard.html" class="@@nowPage7">客製化管理</a></li>
           <li class="navItem"><a href="./back_order.html" class="@@nowPage8">訂單管理</a></li>
           <li class="navItem"><a href="./backRobot.html" class="@@nowPage9">機器人管理</a></li>
       </ul>
    </div>
</nav>

<div id="sideNavBtn">
    <svg class="bi bi-chevron-right arrow" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg%22%3E">
        <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
    </svg>
</div>