<div class="chatBot" id="chatBot">
    <img src="./img/index/botBird.gif" class="bird">
    <img src="./img/index/birdChat.gif" class="birdChat">
    <div class="openBtn" id="openBot">
        <img src="./img/index/chatBotOpen.png"> 
    </div>
    <div id="chatContent"> <!-- 對話內容區塊 -->
        
    </div>
    <div class="keywordBar" id="keywordBar"> <!-- 關鍵字標籤 -->
        
    </div>
    <div class="inputBar">
        <input type="text" id="botInput" placeholder="和台灣藍鵲聊聊...">
        <div id="botInputBtn">發送</div>
    </div>

</div>