<div class="eventCardBlock">
    <!-- 撈資料新增卡片 -->
    <div class="cardBox" id="cardBox"></div>
    <!-- //燈箱們-揪團詳情(撈資料庫) -->
    <div id="eventinfoLight"></div>

    <!-- //燈箱們-揪團詳情(撈資料庫) -->
    <div id="eventinfoLight"></div>

    <!-- //燈箱們-揪團檢舉 -->
    <div class="backDrop" id="eventreport_back">
        <div class="lightbox_report">
            <div class="lightbox_report_info">
                <div class="reportTitle">
                    <h2>協助我們了解情況?</h2>
                </div>
                <form>
                    <div>
                        <input type="radio" name="reason" id="reason1" value="色情暴力等不當內容"> 
                        <label for="reason1">色情暴力等不當內容</label>
                    </div>
                    <div>
                        <input type="radio" name="reason" id="reason2" value="歧視謾罵他人">
                        <label for="reason2">歧視謾罵他人</label>
                    </div>
                    <div>
                        <input type="radio" name="reason" id="reason3" value="其他違規違法項目">
                        <label for="reason3">其他違規違法項目</label>
                    </div>
                    <div class="reportSent">
                        <div class="reportEnter">
                            <a class="btnPink">確定</a>
                        </div>
                        <div class="reportCancel">
                            <a class="btnPink">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
