<!-- 1200px上 滿版時，使用的選單 -->
<header class="fullHeader">
    <h1>
        <a href="./main.html">
            <img src="./img/header/logo272x170.png" alt="">
        </a>
    </h1>
    <nav>
        <ul>
            <li><a href="./route.html"><img src="./img/header/navHover.png" class="navHover @@display1"><img
                        src="./img/header/navIcon1.png" class="navIcon">散步遊台北</a></li>
            <li><a href="./mapgame.html"><img src="./img/header/navHover.png" class="navHover @@display2"><img
                        src="./img/header/navIcon2.png" class="navIcon">攻略地圖趣</a></li>
            <li><a href="./mood.html"><img src="./img/header/navHover.png" class="navHover @@display3"><img
                        src="./img/header/navIcon3.png" class="navIcon">慢步寫心情</a></li>
            <li><a href="./postcard.html"><img src="./img/header/navHover.png" class="navHover @@display4"><img
                        src="./img/header/navIcon4.png" class="navIcon">情繫明信片</a></li>
            <li><a href="./event.html"><img src="./img/header/navHover.png" class="navHover @@display5"><img
                        src="./img/header/navIcon5.png" class="navIcon">揪團一起走</a></li>
        </ul>
    </nav>
    <div class="memberIcon">
        <!-- <div class="navCart"><a><img src="./img/header/navCart.png"></a></div> -->
        <div class="navMember">
            <div class="sign">登入</div>
            <a class="memberPhoto"><img src="./img/header/navMember.png"></a>
        </div>
        <div class="navPoint">
            <div class="point">點數</div>
            <a><img src="./img/header/navPoint.png"></a>
        </div>
    </div>
</header>
<!-- 1200px下時，轉乘使用漢堡選單 -->

<header class="hamburgerHeader">
    <h1>
        <a href="./main.html">
            <img src="./img/header/logo272x170.png" alt="">
        </a>
    </h1>
    <nav>
        <ul>
            <li><a href="./route.html"><img src="./img/header/navIcon1.png" class="navIcon">散步遊台北</a></li>
            <li><a href="./mapgame.html"><img src="./img/header/navIcon2.png" class="navIcon">攻略地圖趣</a></li>
            <li><a href="./mood.html"><img src="./img/header/navIcon3.png" class="navIcon">慢步寫心情</a></li>
            <li><a href="./postcard.html"><img src="./img/header/navIcon4.png" class="navIcon">情繫明信片</a></li>
            <li><a href="./event.html"><img src="./img/header/navIcon5.png" class="navIcon">揪團一起走</a></li>
        </ul>
    </nav>
    <div class="memberIcon">
        <!-- <div class="navCart"><a href=""><img src="./img/header/navCart.png"></a></div> -->
        <div class="navMember">
            <a class="memberPhoto"><img src="./img/header/navMember.png"></a>
            <div class="sign">登入</div>
        </div>
        <div class="navPoint">
            <a><img src="./img/header/navPoint.png"></a>
            <div class="point">點數</div>
        </div>
    </div>
</header>
<h1 class="smartPhoneLogo">
    <a href="./main.html">
        <img src="./img/header/logo272x170.png" alt="">
    </a>
</h1>
<div class="hamburger hamburger--spring">
    <div class="hamburger-box">
        <div class="hamburger-inner"></div>
    </div>
</div>

<!-- loginBlock -->
@@include('./login.html')