<div class="moodCardsWrap">
    <div class="moodCard">
        <div class="cardInfoBar">
            <div class="moodMemberPhoto"><img src="./img/index/moodMemberPhoto01.png"></div>
            <div class="infoTextWrap">
                <span class="moodClass">#職人散步去</span>
                <span class="moodMemId">IU2020</span>
            </div>
            <div class="dotWrap">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="moodPicWrap">
            <img src="./img/index/moodPic01.jpg" class="moodPic">
        </div>
        <div class="heartBar">
            <img src="./img/index/moodLikeIcon.png"class="moodIcon">
            <span>1025</span>
            <img src="./img/index/moodChatIcon.png"class="moodIcon">
            <span>52</span>
        </div>
        <div class="cardText">
            <p>
                把多肉植物各種形式的美好分享給你，就像好友之間訴說彼此的種植經驗、以及對於美好生活的想像
            </p>
            <span>more</span>
        </div>
    </div>
    <div class="moodCard">
        <div class="cardInfoBar">
            <div class="moodMemberPhoto"><img src="./img/index/moodMemberPhoto02.png"></div>
            <div class="infoTextWrap">
                <span class="moodClass">#日式舊屋行</span>
                <span class="moodMemId">Jaysqer</span>
            </div>
            <div class="dotWrap">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="moodPicWrap">
            <img src="./img/index/moodPic02.jpg" class="moodPic">
        </div>
        <div class="heartBar">
            <img src="./img/index/moodLikeIconGray.png"class="moodIcon">
            <span>999</span>
            <img src="./img/index/moodChatIcon.png"class="moodIcon">
            <span>108</span>
        </div>
        <div class="cardText">
            <p>
                循著路幅稍窄，缺少寬闊步行空間的同安街，一路往水源快速道路方向走去，在街尾可見一座天橋

            </p>
            <span>more</span>
        </div>
    </div>

    <div class="moodCard">
        <div class="cardInfoBar">
            <div class="moodMemberPhoto"><img src="./img/index/moodMemberPhoto03.png"></div>
            <div class="infoTextWrap">
                <span class="moodClass">#文青品味旅</span>
                <span class="moodMemId">love00242</span>
            </div>
            <div class="dotWrap">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="moodPicWrap">
            <img src="./img/index/moodPic03.jpg" class="moodPic">
        </div>
        <div class="heartBar">
            <img src="./img/index/moodLikeIcon.png"class="moodIcon">
            <span>168</span>
            <img src="./img/index/moodChatIcon.png"class="moodIcon">
            <span>655</span>
        </div>
        <div class="cardText">
            <p>
                跟著台北散步~ 發現讀字書店，很棒很舒適的空間，尤其是廁所也太有風格啦~~
            </p>
            <span>more</span>
        </div>
    </div>
</div>