@import './base/var.scss';


body {
    background-image: $bgImage;
}

/*------------小朱-----------------*/
// 1.1明信片中間大區域
.postcardcontent {
    // min-width: 1200px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.postcardimg4{
    z-index: 15;
    animation: turn 2s infinite alternate linear;
}
@keyframes turn {
    0% {
        transform:rotate(20deg);
    }
    55% {
        transform:rotate(18deg);
    }
}



.postcardimg {
    display: block;
    width: 100%;
    height: 100%;
}

div.postcardimg1 {
    position: absolute;
    width: 20%;
    top: 1100px;
    left: 0px;
    z-index: -1;
}

div.postcardimg2 {
    position: absolute;
    width: 20%;
    top: 800px;
    right: 0px;
    z-index: -1;
}

div.postcardimg3 {
    position: absolute;
    width: 18%;
    top: 1200px;
    right: 0px;
    z-index: -1;
}

div.postcardimg4 {
    position: absolute;
    width: 20%;
    top: 500px;
    left: 0px;
    z-index: -1;
}

// postcard img RWD
@media screen and (max-width:1500px) {

    .postcardimg1,
    .postcardimg2,
    .postcardimg3,
    .postcardimg4 {
        display: none;
    }
}


//---------------------------------------------
// 1.2明信片步驟
.postcardStepbox {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    height: 150px;

    @media screen and(max-width:$medium) {
        width: 100%;
        margin: 0px auto;
        height: 100%;
    }

    @media screen and(max-width:$small) {
        width: 100%;
        margin: 0px auto;
        height: 100%;
    }
}

@each $var in 1,
2,
3,
4,
5 {
    .step#{$var} {
        width: 100%;
        background-image: url(../img/postcard/white.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;

        @media screen and (max-width:800px) {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 5px;
            width: 100%;
        }
    }

}

.step_yellow {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/postcard/yellow.png);

    @media screen and (max-width:800px) {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 5px;
        width: 100%;
    }
}





.arrow1 {
    background-image: url(../img/postcard/arrow.png);
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    @media screen and (max-width:1200px) {
        display: none;
    }

    @media screen and (max-width:800px) {
        display: none;
    }

}

//Step文字
.stepname {
    font-size: $fzTitle;
    margin-top: 50px;
    color: $fcContent;
    line-height: 30px;

    @media screen and (max-width:1020px) {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 16px;
    }

    @media screen and (max-width:600px) {
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 18px;
        font-size: 12px;
    }
}


//-------------------------------------------
/*1.3明信片客製大畫面*/
.postcardMain {
    display: flex;
    margin: 0px auto;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;

    @media screen and (max-width:1200px) {
        flex-wrap: wrap;
        height: 100%;
    }

    @media screen and (max-width:800px) {
        flex-wrap: wrap;
        height: 100%;
    }
}

/* 2.1明信片左邊預覽畫面*/
.postLeft {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    margin-right: 10px;

    @media screen and (max-width:1200px) {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media screen and (max-width:800px) {
        width: 95%;
        height: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


/*2.2明信片右邊編輯畫面*/

.postRight {
    width: 25%;
    height: 556px;
    border: black 1px solid;
    background-image: url(../img/postcard/just-waves.png);
    border-image-source: url(../img/postcard/postline.svg);
    border-image-width: 1rem;
    border-image-repeat: round;
    border-image-slice: 30 30% 45;

    @media screen and (max-width:1200px) {
        width: 100%;
        height: 296px;
    }
}


/*明信片外框畫面*/
.postWhiteBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 560px;
    box-shadow: $heavierShadow;
    background-color: #0e0e0e;

    @media screen and (max-width:1200px) {
        width: 720px;
        height: 450px;
    }

    @media screen and (max-width:800px) {
        width: 400px;
        height: 276px;
    }

    @media screen and (max-width:450px) {
        width: 350px;
        height: 250px;
    }
}

/*畫布畫面*/
.postcardCanvas {
    width: 900px;
    height: 560px;
    // transform-style: preserve-3d;
    // transition: 0.5s all ease;
    // backface-visibility:hidden;

    @media screen and (max-width:1200px) {
        width: 720px;
        height: 450px;
    }

    @media screen and (max-width:800px) {
        width: 400px;
        height: 276px;
    }

    @media screen and (max-width:450px) {
        width: 350px;
        height: 250px;
    }
}

// .postcardCanvas:hover{
//     transform:rotateY(180deg);
// }






/*2-2-2(二).操作畫面.postRight設定*/
/*===============================================================*/
/*2-2-2(二).操作畫面.postRight切換步驟css + postcard.js*/


/*步驟1畫面*/

.post_text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $fzTitle;
    color: $importantColor;
    background-color: lightyellow;
    font-weight: bold;
    @media screen and (max-width:1200px) {
        margin-top: 20px;
    }
}

.BGCchoose {
    text-align: center;
    width: 100%;
    height: 420px;

    @media screen and (max-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width:600px) {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}


@each $var in _1,
_2,
_3 {
    .postBGC#{$var} {
        margin: 0 auto;
        height: 140px;
        width: 250px;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.6));
        padding: 20px;
        text-align: center;

    }

    .postBGC#{$var} img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
        // box-shadow: $heavierShadow;
    }

    .postBGC#{$var} img:hover {
        transform: scale(1, 1);
    }

}

.postBGC_1_foucs {
    border: solid 5px lightcoral;
}

/*搭配js做選中效果*/


@each $var in _1,
_2,
_3 {
    .postBGC#{$var}_Selected img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
        border: solid 5px lightcoral;
    }
}

/*步驟1下一步按鍵*/
.step_btnbox1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media screen and (max-width:1200px) {
        margin-top: 37px;
        margin-bottom: 30px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 40px;
    }
}

#step_btn,
#step_btn1,
#step_btn2,
#step_btn3,
#step_btn4,
#step_btn5,
#step_btn6,
#step_btn7,
#step_btn8,
#step_btn9 {
    margin: 5px;
}


/*步驟2畫面--------------------------------------------------*/

.photochoose {
    text-align: center;
    // margin-bottom: 30px;
    overflow-y: scroll;
    width: 100%;
    height: 420px;

    @media screen and (max-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    @media screen and (max-width:800px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/*
 scrollbar
 */
.BGCchoose::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.BGCchoose::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.BGCchoose::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}




.photochoose::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.photochoose::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.photochoose::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

@each $var in _1,
_2,
_3,
_4 {

    .postphoto#{$var} {
        margin: 0 auto;
        height: 140px;
        width: 250px;
        transition: all 0.5s;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.6));
    }

    .postphoto#{$var} img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
    }

    .postphoto#{$var} img:hover {
        transform: scale(1, 1);
    }
}

/*搭配js做選中效果*/
@each $var in _1,
_2,
_3,
_4 {
    .postphoto#{$var}_Selected img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
        border: solid 5px lightcoral;
    }
}

.step_btnbox2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media screen and (max-width:1200px) {
        margin-top: 27px;
        margin-bottom: 30px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 40px;
    }
}

.step_btn2,
.step_btn3 {
    margin: 10px;
}

/*步驟3畫面--------------------------------------------------*/
.iconchoose {
    text-align: center;
    overflow-y: scroll;
    width: 100%;
    height: 420px;

    @media screen and (max-width:1200px) {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    @media screen and (max-width:800px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.iconchoose::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.iconchoose::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.iconchoose::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}


    .icon{
        margin: 0 auto;
        height: 140px;
        width: 180px;
        transition: all 0.5s;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    }

    .icon img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
    }

    .icon img:hover {
        transform: scale(1, 1);
    }

/*搭配js做選中效果*/

    .Selected img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
        border: solid 5px lightcoral;
    }


.step_btnbox3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media screen and (max-width:1200px) {
        margin-top: 27px;
        margin-bottom: 30px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 40px;
    }
}


.step_btn4,
.step_btn5 {
    margin: 10px;
}


/*步驟4畫面--------------------------------------------------*/
.textwrite {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post_text1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $fzTitle;
    color: $importantColor;
    background-color: lightyellow;
    font-weight: bold;
    @media screen and (max-width:1200px) {
        width: 100%;
        margin-top: 20px;
    }

    @media screen and (max-width:800px) {
        width: 100%;
    }
}

.post_text2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: $fzTitle;
    color: $importantColor;
    background-color: lightyellow;
    font-weight: bold;

    @media screen and (max-width:1200px) {
        width: 100%;
    }

    @media screen and (max-width:800px) {
        width: 100%;
    }
}

#postcardText {
    width: 90%;
    height: 190px;
    resize: none;

    @media screen and (max-width:1200px) {
        width: 90%;
        height: 60px;
    }

    @media screen and (max-width:800px) {
        width: 90%;
        height: 60px;
    }
}


.postcardTextColorBox {
    display: flex;
    justify-content: center;
    // padding: 0 15px;
    height: 50px;
    align-items: center;

    @media screen and (max-width:1200px) {
        width: 50%;
        height: 50px;
    }

    @media screen and (max-width:800px) {
        width: 50%;
        height: 50px;
    }
}

// .leafButton {
//     height: 100%;
// }

.postcardTextColor {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.postcardTextColorSelected {
    border: 2px solid rgba(0, 0, 0, .6);
}

.postcardTextColor span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .7);
    margin: 2px;
}

.postcardTextColor1:hover,
.postcardTextColor2:hover,
.postcardTextColor3:hover,
.postcardTextColor4:hover {
    background-color: rgba(255, 201, 121, .7);
}

.postcardTextColor1 span {
    background-color: rgb(255, 255, 255);
}

.postcardTextColor2 span {
    background-color: rgb(178, 100, 102);
}

.postcardTextColor3 span {
    background-color: rgb(255, 201, 121);
}

.postcardTextColor4 span {
    background-color: rgba(0, 0, 0, 0.9);
}

.leafButton {
    margin-left: 10px;
}


.step_btnbox4 {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    width: 100%;


    @media screen and (max-width:1200px) {
        margin-top: 27px;
        margin-bottom: 10px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 10px;
    }
}

.step_btn6,
.step_btn7 {
    margin: 10px;
}

/*步驟5畫面--------------------------------------------------*/
// .postRightDIY5{
//     // display: flex;
// }
.info {
    line-height: 30px;
    // height: 100%;
    // width: 100%;

    @media screen and (max-width:1200px) {
        line-height: 20px;

    }

    @media screen and (max-width:800px) {}
}

// #name1{
//     width: calc(100% - 10px)
// }

#address {
    // width: 90%;
    resize: none;
}

.cityform-control {
    margin: 5px;
    border-radius: 5px;
}

.town_form-control {
    margin: 5px;
    border-radius: 5px;
}

.inputform {
    border-radius: 5px;
    border: 1px solid darkgray;
    width: 200px;
    padding: 5px;
    font-family: 微軟正黑體;
    font-size: 16px;
    outline: none;
    margin: 0;
}

// #save_img #save_img2{
//     width: 200px;
//     height: 100px;
// }
.download{
    @media screen and (max-width:1200px) {
        margin-top: 3px;
        margin-bottom: 0px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 0px;
    }
}




.step_btnbox5 {
    margin-top: 224px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (max-width:1200px) {
        margin-top: 3px;
        margin-bottom: 10px;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 10px;
    }
}




.step_btn8,
.step_btn9 {
    margin: 10px;
}

/*燈箱*/

// manual-modal
.manual-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    font-size: 24px;
    // desktop manual

    .about {
        width: 800px;
        flex-wrap: wrap;
        border: 1px solid #a5361c;
        align-items: center;
        display: flex;
        position: relative;
        top: 30%;
        margin: 0 auto;
        background-color: #555;
        @media screen and (max-width:1200px) {
            width: 600px;
        }
    
        @media screen and (max-width:800px) {
            width: 393px;
        }

    }

    .icontext{
        line-height: 50px;
        text-align: left;
        width: 200px;
        color: #F5F5F5;
    }
}

.scroll-lock {
    overflow: hidden;
}

.header-backward {
    z-index: 0;
}

.hide-manual-modal {
    display: none;
}
