@charset "UTF-8";
/* btnClass */
.btnRed {
  /*主要按鈕*/
  width: 175px;
  height: 60px;
  border: unset;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  font-family: "微軟正黑體";
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background-image: url("../img/element/btnRed.png");
  background-size: contain;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-filter .1s;
  transition: -webkit-filter .1s;
  transition: filter .1s;
  transition: filter .1s, -webkit-filter .1s;
  cursor: pointer;
}

.btnRed:hover {
  -webkit-filter: brightness(1.09);
          filter: brightness(1.09);
}

.btnPink {
  /*次要按鈕*/
  width: 120px;
  height: 40px;
  border: unset;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  font-family: "微軟正黑體";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-image: url("../img/element/btnPink.png");
  background-size: contain;
  -webkit-transition: -webkit-filter .1s;
  transition: -webkit-filter .1s;
  transition: filter .1s;
  transition: filter .1s, -webkit-filter .1s;
  cursor: pointer;
}

.btnPink:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

.btnPinkStop {
  /*次要按鈕_不能按*/
  width: 120px;
  height: 40px;
  border: unset;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  font-family: "微軟正黑體";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-image: url("../img/element/btnPink.png");
  background-size: contain;
  -webkit-filter: grayscale(1.1);
          filter: grayscale(1.1);
}

#btnGoTop {
  /*回到頂端*/
  width: 50px;
  height: 200px;
  position: absolute;
  top: -200px;
  right: 40px;
  display: inline-block;
  background-image: url("../img/element/btnGoTop.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-filter .1s;
  transition: -webkit-filter .1s;
  transition: filter .1s;
  transition: filter .1s, -webkit-filter .1s;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  #btnGoTop {
    width: 45px;
    right: 10px;
  }
}

@media screen and (max-width: 575px) {
  #btnGoTop {
    width: 40px;
    top: 40px;
  }
}

.btnCust {
  /*自訂按鈕*/
  width: 105px;
  height: 105px;
  border: unset;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: center;
  line-height: 130px;
  position: fixed;
  z-index: 10;
  right: 15%;
  bottom: 30%;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../img/element/btnCust.png");
  background-size: contain;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-filter .1s;
  transition: -webkit-filter .1s;
  transition: filter .1s;
  transition: filter .1s, -webkit-filter .1s;
  -webkit-animation: flutter 0.8s cubic-bezier(0.04, 0.49, 0.94, 0.44) alternate infinite;
          animation: flutter 0.8s cubic-bezier(0.04, 0.49, 0.94, 0.44) alternate infinite;
  cursor: pointer;
}

.btnCust:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

@media screen and (max-width: 1023px) {
  .btnCust {
    right: 5%;
    bottom: 40%;
  }
}

@media screen and (max-width: 575px) {
  .btnCust {
    font-size: 13.91304px;
    line-height: 110px;
    width: 85px;
    height: 85px;
  }
}

@-webkit-keyframes flutter {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes flutter {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
/*# sourceMappingURL=btn.css.map */