@charset "UTF-8";
/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
.wrapper {
  width: 100%;
  overflow: hidden;
}

.titleFirst {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation: rotateMove 2s cubic-bezier(0.15, 0.76, 0.98, 0.4) alternate infinite;
          animation: rotateMove 2s cubic-bezier(0.15, 0.76, 0.98, 0.4) alternate infinite;
}

@-webkit-keyframes rotateMove {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes rotateMove {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media screen and (max-width: 575px) {
  .titleLast {
    width: 100%;
  }
  img.titleFirst {
    width: 25%;
    left: 15px;
  }
}

.eventContent {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.eventContent .newEventBlock {
  width: 100%;
  position: relative;
}

.eventContent .newEventBlock .newEventTitle {
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -185px;
  top: -75px;
}

.eventContent .newEventBlock .newEventTitle .newEventSubTitle {
  -webkit-animation: subtitleAni .8s infinite alternate;
          animation: subtitleAni .8s infinite alternate;
}

.eventContent .newEventBlock .newEventTitle .sectionSubTitleMobile {
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 3px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bolder;
  background-color: #116491;
  color: #fff;
}

@media screen and (min-width: 1365px) {
  .eventContent .newEventBlock .newEventTitle div.sectionSubTitleMobile {
    display: none;
  }
}

@media screen and (max-width: 1365px) {
  .eventContent .newEventBlock .newEventSubTitle {
    display: none;
  }
}

@media screen and (max-width: 1365px) {
  .eventContent .newEventBlock .newEventTitle {
    top: -40px;
    right: 0;
    left: 0;
    margin: 0px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.eventContent .newEventBlock #slideBoard {
  width: 100%;
  overflow: hidden;
  letter-spacing: 1.5px;
  line-height: 1.75;
}

.eventContent .newEventBlock #slideBoard #content {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.eventContent .newEventBlock #slideBoard #content .newSliderBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventPic {
  background-color: #f2fbff;
  padding: 40px 45px 65px 45px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventPic img {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventPic {
    padding: 40px 45px 65px 45px;
    margin: 35px auto;
  }
}

@media screen and (max-width: 767px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventPic {
    margin: 60px auto 30px auto;
  }
}

.eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventText {
  margin: 170px auto;
}

.eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventText p {
  font-size: 24px;
  color: #646464;
}

@media screen and (max-width: 1030px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventText {
    margin: 55px auto;
  }
}

@media screen and (max-width: 768px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventText {
    margin: 0px auto;
  }
  .eventContent .newEventBlock #slideBoard #content .newSliderBox .newEventText p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1365px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox {
    margin: 55px auto;
  }
}

@media screen and (max-width: 1030px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .eventContent .newEventBlock #slideBoard #content .newSliderBox {
    margin: 0px auto;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .eventContent {
    padding-top: 50px;
  }
}

#contentButton {
  /* border: 1px solid red; */
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contentButton li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #91c4d3;
  margin: 25px 8px;
  cursor: pointer;
}

#contentButton li.clickMe {
  background-color: #589fb2;
}

@media screen and (max-width: 1030px) {
  #contentButton {
    display: none;
  }
}

.loudspeaker {
  position: absolute;
  right: 95px;
  bottom: 70px;
  z-index: 5;
}

@media screen and (max-width: 1030px) {
  .loudspeaker {
    display: none;
  }
}

.camera {
  position: absolute;
  top: -25px;
  left: 525px;
  width: 150px;
  z-index: 15;
  -webkit-animation: turnRight 2s infinite alternate linear;
          animation: turnRight 2s infinite alternate linear;
}

@-webkit-keyframes turnRight {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  55% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
}

@keyframes turnRight {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  55% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
}

@media screen and (max-width: 1365px) {
  .camera {
    display: none;
  }
}

.flashlight {
  position: absolute;
  width: 595px;
  height: 446px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  opacity: 0;
  -webkit-animation: flashlight 5s linear infinite;
          animation: flashlight 5s linear infinite;
}

@-webkit-keyframes flashlight {
  56% {
    opacity: 1;
  }
  55%, 65% {
    opacity: 0;
  }
}

@keyframes flashlight {
  56% {
    opacity: 1;
  }
  55%, 65% {
    opacity: 0;
  }
}

@media screen and (max-width: 1030px) {
  .flashlight {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto;
  }
}

.cutLine {
  width: 100%;
  margin: 15px 0 80px 0;
}

@media screen and (max-width: 768px) {
  .cutLine {
    margin: 80px auto;
  }
}

.eventScanBlock {
  position: relative;
}

.eventScanBlock .airb1 {
  width: 80px;
  position: absolute;
  top: 200px;
  left: -240px;
  -webkit-animation: airb1 6s infinite alternate;
          animation: airb1 6s infinite alternate;
}

@-webkit-keyframes airb1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 55px);
            transform: translate(0, 55px);
  }
}

@keyframes airb1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 55px);
            transform: translate(0, 55px);
  }
}

.eventScanBlock .airb2 {
  width: 100px;
  position: absolute;
  top: 380px;
  left: -235px;
  -webkit-animation: airb1 5.5s infinite alternate;
          animation: airb1 5.5s infinite alternate;
}

.eventScanBlock .airb3 {
  width: 115px;
  position: absolute;
  top: 270px;
  left: -145px;
  -webkit-animation: airb3 4s infinite alternate;
          animation: airb3 4s infinite alternate;
}

@-webkit-keyframes airb3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px);
  }
}

@keyframes airb3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px);
  }
}

.eventScanBlock .firework1 {
  width: 100px;
  position: absolute;
  top: 720px;
  right: -90px;
  -webkit-animation: fireworks 4s infinite;
          animation: fireworks 4s infinite;
}

@-webkit-keyframes fireworks {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fireworks {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.eventScanBlock .firework2 {
  width: 110px;
  position: absolute;
  top: 665px;
  right: -175px;
  -webkit-animation: fireworks 6s infinite;
          animation: fireworks 6s infinite;
}

.eventScanBlock .firework3 {
  width: 95px;
  position: absolute;
  top: 715px;
  right: -255px;
  -webkit-animation: fireworks 7s infinite;
          animation: fireworks 7s infinite;
}

.eventScanBlock .skyLight1 {
  position: absolute;
  top: 1210px;
  left: -235px;
  width: 120px;
  animation: skyLightAni 2s infinite alternate-reverse linear;
}

.eventScanBlock .skyLight2 {
  width: 65px;
  position: absolute;
  left: -145px;
  top: 1420px;
  animation: skyLightAni 1s infinite alternate-reverse linear;
}

@-webkit-keyframes skyLightAni {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes skyLightAni {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media screen and (max-width: 1500px) {
  .eventScanBlock .airb1, .eventScanBlock .airb2, .eventScanBlock .airb3, .eventScanBlock .firework1, .eventScanBlock .firework2, .eventScanBlock .firework3, .eventScanBlock .skyLight1, .eventScanBlock .skyLight2 {
    display: none;
  }
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 20px 0px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.selector select {
  width: 190px;
  height: 30px;
  margin: 10px 5px;
  color: #646464;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .selector select {
    width: 140px;
    margin: 20px 0;
  }
}

div.cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.eventCard {
  width: 340px;
  height: unset;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4);
          box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4);
  background-image: url(../img/event/event_cardback.png);
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 25px 30px;
}

div.eventCard div.dotWrap {
  width: 40px;
  height: 40px;
  margin: 5px 18px 0px 0px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.eventCard div.dotWrap span.dot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #646464;
}

div.eventCard div.eventPicWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  margin: 5px auto;
  overflow: hidden;
}

div.eventCard div.eventPicWrap img.eventPic {
  height: 100%;
  vertical-align: middle;
}

div.eventCard div.cardText {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.eventCard div.cardText h1 {
  width: 100%;
  font-size: 24px;
  color: #1e1e1e;
  font-weight: 550;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

div.eventCard div.cardText p {
  font-size: 18px;
  color: #646464;
  text-align: left;
}

div.eventCard div.cardText span {
  color: #646464;
  font-size: 16px;
  display: inline-block;
  margin: 5px 0px 20px 0px;
  cursor: pointer;
}

div.eventCard div.cardText span:hover {
  color: #A5361C;
}

@media screen and (max-width: 1210px) {
  div.eventCard {
    margin: 25px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  div.eventCard {
    margin: 35px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  div.eventWrap {
    margin: 0px auto;
  }
}

.eventCard:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.starMark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  padding-top: 6px;
  padding-left: 3px;
  font-size: 18px;
  color: #646464;
}

@media screen and (max-width: 1199px) {
  .starMark {
    padding: 5px 0 0px 15px;
    width: 250px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .starMark {
    padding: 5px 0 0px 15px;
    width: 190px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .starMark {
    padding: 5px 0 0px 10px;
    width: 250px;
    font-size: 16px;
  }
}

.cardBox2 {
  display: none;
}

.viewMore {
  margin: 35px auto 0 auto;
  text-align: center;
}

.eventinfo_back {
  background-color: rgba(24, 24, 24, 0.8);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.backDrop {
  background-color: rgba(24, 24, 24, 0.8);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.close {
  color: #646464;
  cursor: pointer;
  right: 10px;
  font-size: 32px;
  margin: 10px;
  top: 0px;
  position: absolute;
}

.lightbox_detailevent_info {
  position: relative;
  border-radius: 6px;
  background-image: url(../img/index/linedpaper.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
          box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
  height: 700px;
  border-radius: 15px;
  overflow: hidden;
}

.lightbox_holdevent_info {
  position: relative;
  border-radius: 6px;
  background-image: url(../img/index/linedpaper.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
          box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 780px;
  border-radius: 15px;
  overflow: hidden;
}

.lightbox_holdevent_info .holdevent_title {
  text-align: center;
  margin-top: 35px;
  letter-spacing: 1.875px;
  font-size: 36px;
  color: #A5361C;
  font-weight: bolder;
  text-align: center;
}

.lightbox_holdevent_info .holdevent_title h2 {
  font-size: 36px;
  color: #A5361C;
}

.lightbox_holdevent_info .stepALL {
  margin: 45px 0;
  width: 100%;
}

.lightbox_holdevent_info .holdevent_step {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox_holdevent_info .holdevent_step div {
  margin: 0 55px;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
  background-position: center;
  background-image: url(../img/event/step.png);
  font-size: 18px;
}

.lightbox_holdevent_info .holdevent_step div p {
  margin-bottom: 5px;
}

.lightbox_holdevent_info .holdevent_step div .stepBox {
  margin-bottom: 10px;
}

.lightbox_holdevent_info .holdevent_step .color {
  background-image: url(../img/event/stepOn.png);
}

@media screen and (max-width: 767px) {
  .lightbox_holdevent_info {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1200px) {
  .lightbox_holdevent_info {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  div.holdevent_step1content .step2, div.holdevent_step1content .step3 {
    display: none;
  }
}

.holdevent_step1content {
  height: 536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chooseRoute {
  margin: 45px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.chooseRoute .sliderWrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.chooseRoute .sliderWrap .routeAllBox {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 0px;
  left: 0px;
  -webkit-transition: left 1s;
  transition: left 1s;
  position: absolute;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 200px;
  height: 250px;
  margin: 0px 30px;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox .routeBoxImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox div.routeBoxImg img {
  width: 100%;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox .routeBoxBottom {
  background-color: #5f96ab;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.chooseRoute .sliderWrap .routeAllBox .routeBox .routeBoxBottom p {
  color: white;
  line-height: 50px;
  letter-spacing: 2.2px;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox .addroute {
  width: 125px;
  height: 125px;
  border: unset;
  font-size: 18px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: center;
  line-height: 160px;
  display: inline-block;
  border-radius: 50%;
  background-image: url(../img/element/btnCust.png);
  background-size: contain;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-filter .1s;
  transition: -webkit-filter .1s;
  transition: filter .1s;
  transition: filter .1s, -webkit-filter .1s;
  cursor: pointer;
}

.chooseRoute .sliderWrap .routeAllBox .addRoutebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chooseRoute .sliderWrap .routeAllBox .routeBox:hover {
  opacity: 0.75;
}

@media screen and (max-width: 1200px) {
  .chooseRoute .sliderWrap .routeAllBox .routeBox {
    width: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .chooseRoute .sliderWrap {
    width: 80%;
  }
}

.chooseRoute .slideBtn {
  margin: 0 10px;
  text-align: center;
}

.chooseRoute .slideBtn input {
  cursor: pointer;
  font-size: 24px;
  outline: none;
  border: none;
  background-color: #5895ad;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  color: white;
}

.chooseRoute #btnLeft[disabled], .chooseRoute #btnRight[disabled] {
  opacity: 0.6;
  text-align: center;
}

.routeClick {
  margin: 10px auto;
  padding: 0px 95px;
  width: 100%;
}

.routeClick p {
  margin: 0px 0 20px 0px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #646464;
}

@media screen and (max-width: 1200px) {
  .chooseRoute {
    width: 90%;
  }
}

.stepBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.stepBtn div {
  margin: 0px 80px;
}

@media screen and (max-width: 767px) {
  .chooseRoute {
    margin: 25px auto;
  }
}

@media screen and (max-width: 767px) {
  .stepBtn div {
    margin: 0px 15px;
  }
}

.stepStop {
  pointer-events: none;
}

.holdevent_step2content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holdevent_step2content .step2Info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px;
}

.holdevent_step2content .step2Info .holderPic {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 45px;
}

.holdevent_step2content .step2Info .holderPic input {
  font-size: 18px;
  color: #646464;
  letter-spacing: 1.2px;
  padding-left: 5px;
  cursor: pointer;
  outline-style: none;
}

.holdevent_step2content .step2Info .holderPic div {
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f5eec2;
  border: 1px dashed #5b8f60;
  width: 480px;
  height: 270px;
}

.holdevent_step2content .step2Info .holderPic .holderPicBox {
  text-align: center;
  line-height: 265px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #646464;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.holdevent_step2content .step2Info .holderPic .holderPicBox img {
  width: 100%;
}

.holdevent_step2content .step2Info .holderInfo {
  max-width: 50%;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646464;
  padding: 0px 70px;
}

.holdevent_step2content .step2Info .holderInfo div {
  margin: 15px 0;
}

.holdevent_step2content .step2Info .holderInfo div input {
  width: 220px;
  height: 35px;
  color: #646464;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 3px 0px;
  border: 1px solid #90b494;
}

.holdevent_step2content .step2Info .holderInfo div label {
  margin-right: 10px;
}

.holdevent_step2content .step2Info .holderInfo div select {
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  height: 35px;
  background-color: #fff;
  border: 1px solid #90b494;
  color: #646464;
  font-size: 18px;
  padding: 5px 0px;
}

.holdevent_step2content .step2Info .holderInfo div textarea {
  font-size: 18px;
  border-radius: 5px;
  resize: none;
  color: #646464;
  padding: 3px 0px;
  background-color: #fff;
  border: 1px solid #90b494;
}

@media screen and (max-width: 767px) {
  .step2Info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  div.holderPic {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .eventCoverPic {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .holderPicBox {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .holderInfo {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  div.holdevent_step2content .step1, div.holdevent_step2content .step3 {
    display: none;
  }
}

.holdevent_step3content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  color: #646464;
  height: 536px;
  width: 100%;
}

.holdevent_step3content .step3Info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px;
}

.holdevent_step3content .step3Info .holderCover {
  padding: 20px 45px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holdevent_step3content .step3Info .holderCover .holderCoverPic {
  text-align: center;
  line-height: 265px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #646464;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f5eec2;
  border: 1px dashed #5b8f60;
  width: 480px;
  height: 270px;
}

.holdevent_step3content .step3Info .holderCover .holderCoverPic img {
  border-radius: 5px;
  width: 100%;
}

.holdevent_step3content .step3Info .holderCover .holderCoverText {
  margin: 10px 0;
  letter-spacing: 1.2px;
}

.holdevent_step3content .step3Info .holderCover .holderCoverText .title {
  font-size: 20px;
  margin: 15px 0;
}

.holdevent_step3content .step3Info .holderCoverInfo {
  padding: 60px 80px;
  width: 50%;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646464;
}

.holdevent_step3content .step3Info .holderCoverInfo table tr {
  height: 50px;
}

.holdevent_step3content .step3Info .holderCoverInfo table tr td:nth-child(1) {
  width: 145px;
}

.detaileventContent {
  font-size: 18px;
  padding: 0px 50px;
  width: 100%;
  color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1.2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detaileventContent .detaileventPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.detaileventContent .detaileventPic .title {
  font-size: 24px;
  color: #206B95;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.detaileventContent .detaileventPic .title .eventInfotitle {
  font-size: 24px;
  color: #206B95;
  font-weight: bolder;
}

.detaileventContent .detaileventPic .title .dotWrap {
  right: 25px;
  width: 40px;
  height: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  position: absolute;
}

.detaileventContent .detaileventPic .title .dot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #646464;
}

.detaileventContent .detaileventPic .detaileventPicbox {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.detaileventContent .detaileventPic .detaileventPicbox img {
  width: 100%;
}

.detaileventContent .detaileventPic .detaileventRoute {
  margin: 25px 0 0px 0px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #646464;
}

.detaileventContent .detaileventText {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 0 60px;
}

.detaileventContent .detaileventText .eventInforow {
  height: 45px;
  line-height: 45px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detaileventContent .detaileventText .eventInforow .eventrowTitle {
  background-color: lightblue;
  width: 30%;
  margin-right: 40px;
  border-radius: 3px;
  text-align: center;
}

.detaileventContent .detaileventText .eventInforow div:nth-child(2) {
  width: 60%;
}

.enroll {
  position: absolute;
  bottom: 40px;
}

.lightbox_report_info {
  position: fixed;
  background-color: #d4d3d3;
  background-image: url(../img/index/linedpaper.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
          box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.15);
  width: 300px;
  height: 300px;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
}

.lightbox_report_info .reportTitle {
  font-size: 24px;
  margin: 30px 0;
  text-align: center;
  color: #646464;
  font-size: bold;
}

.lightbox_report_info form {
  font-size: 20px;
  padding: 0 35px;
  margin: 35px auto;
  color: #646464;
}

.lightbox_report_info form input {
  margin: 15px;
}

.lightbox_report_info .reportSent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  bottom: 35px;
  position: absolute;
}

.lightbox_report_info .reportSent div {
  margin: 0px 13px;
}
/*# sourceMappingURL=event.css.map */