header.fullHeader {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/header/headerBgImage.png");
  background-repeat: no-repeat;
}

header.fullHeader h1 {
  display: block;
  width: 270px;
  height: 170px;
  -webkit-transform: translate(-300px, 35px);
          transform: translate(-300px, 35px);
}

header.fullHeader h1 img {
  width: 100%;
  height: 100%;
  vertical-align: center;
}

header.fullHeader nav {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

header.fullHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.fullHeader nav ul li {
  width: 135px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-right: 30px;
}

header.fullHeader nav ul li:last-child {
  margin-right: unset;
}

header.fullHeader nav ul li img {
  vertical-align: center;
}

header.fullHeader nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #1e1e1e;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

header.fullHeader nav ul li a .navIcon {
  margin-right: 5px;
}

header.fullHeader nav ul li a:hover .navIcon {
  -webkit-animation: navShake 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
          animation: navShake 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
}

@-webkit-keyframes navShake {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes navShake {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

header.fullHeader nav ul li a .navHover {
  width: 0px;
  position: absolute;
  left: 23px;
  z-index: -1;
  -webkit-filter: brightness(1.09);
          filter: brightness(1.09);
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header.fullHeader nav ul li a:hover .navHover {
  opacity: 1;
  width: 120px;
}

header.fullHeader nav ul li a .navHover.show {
  opacity: 1;
  width: 120px;
}

header.fullHeader .memberIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translate(300px, -20px);
          transform: translate(300px, -20px);
}

header.fullHeader .memberIcon > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

header.fullHeader .memberIcon > div div {
  margin-right: 5px;
}

header.fullHeader .memberIcon > div a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.fullHeader .memberIcon > div a img {
  height: 85%;
}

header.fullHeader .memberIcon :last-child {
  margin-right: 0px;
  cursor: unset;
}

header.hamburgerHeader {
  width: 100%;
  height: 100%;
  min-height: 800px;
  padding-top: 120px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

header.hamburgerHeader.showHeader {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header.hamburgerHeader nav {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

header.hamburgerHeader nav ul li {
  width: 180px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

header.hamburgerHeader nav ul li a {
  font-size: 24px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: right;
  padding-left: 10px;
}

header.hamburgerHeader li a .navIcon {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

header.hamburgerHeader .memberIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px;
  cursor: pointer;
}

header.hamburgerHeader .memberIcon > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

header.hamburgerHeader .memberIcon > div div {
  margin-top: 5px;
}

header.hamburgerHeader .memberIcon > div a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.hamburgerHeader .memberIcon > div a img {
  height: 85%;
}

header.hamburgerHeader .memberIcon :last-child {
  margin-right: 0px;
  cursor: unset;
}

h1.smartPhoneLogo {
  width: 120px;
  display: none;
  position: fixed;
  z-index: 99;
  top: 10px;
  left: 5px;
}

h1.smartPhoneLogo img {
  width: 100%;
}

.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #a5361c;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #a5361c;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

@media all and (max-width: 1805px) {
  header.fullHeader h1 {
    display: block;
    width: 200px;
    height: unset;
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  header.fullHeader nav {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  header.fullHeader .memberIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
}

@media all and (max-width: 1199px) {
  header.fullHeader {
    display: none;
  }
  header.hamburgerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1.smartPhoneLogo {
    display: block;
  }
  .hamburger {
    display: inline-block;
    position: fixed;
    right: 5px;
    z-index: 101;
  }
}
/*# sourceMappingURL=header.css.map */