@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  color: #1e1e1e;
  text-decoration: none;
  font-family: "微軟正黑體";
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.height_auto {
  height: auto  !important;
}

.minheightbig {
  min-height: 656px;
}

.minheightmiddle {
  min-height: 540px;
}

@media screen and (max-width: 575px) {
  .minheightbig {
    min-height: 300px;
  }
  .minheightmiddle {
    min-height: 150px;
  }
}

.member_content {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100px;
  background-image: url(../img/member/gridme.png);
}

.member_all {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.member_sun {
  width: 20%;
  position: absolute;
  left: -270px;
  top: 100px;
  -webkit-animation: sunround 26s linear infinite;
          animation: sunround 26s linear infinite;
}

.member_sun img {
  width: 100%;
}

@-webkit-keyframes sunround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sunround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.member_ballon {
  width: 15%;
  position: absolute;
  left: -175px;
  top: 350px;
  -webkit-animation: ballonupbig 8s linear;
          animation: ballonupbig 8s linear;
}

.member_ballon img {
  width: 100%;
}

@-webkit-keyframes ballonupbig {
  from {
    -webkit-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes ballonupbig {
  from {
    -webkit-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

.member_ballon_two {
  width: 7%;
  position: absolute;
  left: -230px;
  top: 500px;
  -webkit-animation: ballonupbig1 8s linear infinite alternate;
          animation: ballonupbig1 8s linear infinite alternate;
}

.member_ballon_two img {
  width: 100%;
}

@-webkit-keyframes ballonupbig1 {
  from {
    -webkit-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes ballonupbig1 {
  from {
    -webkit-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

.member_ballon_blue {
  width: 15%;
  position: absolute;
  right: -100px;
  top: 0px;
}

.member_ballon_blue img {
  width: 100%;
}

.member_light {
  width: 20%;
  position: absolute;
  right: -270px;
  bottom: -100px;
}

.member_light img {
  width: 100%;
}

.member_clound {
  width: 15%;
  position: absolute;
  right: -200px;
  bottom: 60px;
}

.member_clound img {
  width: 100%;
}

.member_clound2 {
  width: 8%;
  position: absolute;
  right: -250px;
  bottom: 95px;
}

.member_clound2 img {
  width: 100%;
}

.member_point {
  padding: 1.5% 3% 3% 0%;
  font-size: 0px;
  padding-left: 100px;
}

.member_point img {
  width: 100%;
}

.member_point_left {
  width: 50px;
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
  margin-right: 1%;
}

.member_point_right {
  line-height: 50px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  color: #646464;
}

.member_info {
  background-image: url(../img/member/hip-square.png);
  width: 100%;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.member_info img {
  width: 100%;
}

.member_info_nav > ul {
  font-size: 0px;
  text-align: center;
}

.member_info_nav > ul li {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
  display: inline-block;
  height: 125px;
  width: 155px;
  font-size: 24px;
  color: #1e1e1e;
  line-height: 125px;
  margin-left: 1.25%;
  margin-right: 1.25%;
  background-image: url(../img/member/memberstamp2.png);
  background-size: cover;
  cursor: pointer;
  margin-top: 50px;
  position: relative;
}

.member_info_nav > ul li:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.member_info_nav > ul li img {
  position: absolute;
  left: -9px;
  top: 4px;
  opacity: 0;
  width: 120%;
}

@media screen and (max-width: 1200px) {
  .member_info_nav > ul li {
    height: 100px;
    width: 125px;
    line-height: 100px;
    font-size: 18px;
  }
  .member_all {
    width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .member_info_nav > ul li {
    height: 80px;
    width: 100px;
    line-height: 80px;
    font-size: 16px;
  }
  .member_all {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .member_info_nav > ul li {
    height: 65px;
    width: 80px;
    line-height: 65px;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (max-width: 575px) {
  .member_info_nav > ul {
    padding: 0 2%;
  }
  .member_info_nav > ul li {
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 25px;
    height: 80px;
    width: 100px;
    line-height: 80px;
  }
}

@media screen and (max-width: 414px) {
  .member_info_nav > ul li {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.member_info_info {
  font-size: 0px;
  position: relative;
  padding: 4.75%;
}

.member_info_info_all {
  background-image: url(../img/member/dot-grid.png);
}

.member_info_info_left > div {
  display: none;
  font-size: 0px;
  text-align: center;
  position: relative;
  margin-bottom: 4%;
}

.member_info_info_left > div span {
  font-size: 24px;
  font-weight: bolder;
  vertical-align: top;
}

.member_info_info_left > div img {
  width: 30px;
  font-size: 16px;
  position: absolute;
  right: 26px;
  top: 0px;
  cursor: pointer;
  -webkit-animation: jump 1s infinite linear;
          animation: jump 1s infinite linear;
}

.member_info_info_left {
  display: inline-block;
  width: 50%;
  font-size: 0px;
  padding: 8% 0% 0% 0%;
}

.member_info_info_left label {
  pointer-events: none;
  cursor: pointer;
}

.member_info_info_left label div {
  margin: 0 auto;
  width: 228px;
  background-image: url(../img/member/hip-square.png);
  border: 3px dashed transparent;
  padding: 1% 1% 1% 1%;
}

.member_info_info_left label div div:nth-child(1) {
  width: 100%;
  font-size: 16px;
  border: unset;
}

.member_info_info_left label div div:nth-child(2) {
  margin: 0 auto;
  font-size: 0px;
  border: unset;
  width: 100%;
  text-align: center;
  display: none;
}

.member_info_info_left label div div:nth-child(2) label {
  cursor: pointer;
  font-size: 16px;
}

.member_info_info_left label div div:nth-child(2) label img {
  width: 27px;
  vertical-align: text-bottom;
}

.member_info_info_line {
  position: absolute;
  left: 50%;
  top: 100px;
  display: inline-block;
  font-size: 16px;
  width: 2px;
  height: 450px;
  background-color: gray;
  opacity: .5;
}

@media screen and (max-width: 1200px) {
  .member_info_info_line {
    height: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .member_info_info_line {
    height: 350px;
  }
}

.member_info_info_right {
  padding: 3% 5% 5% 5%;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  vertical-align: top;
}

.member_info_info_right div {
  border-bottom: 1px solid #646464;
}

.member_info_info_right div:nth-child(1) {
  font-size: 0px;
  text-align: center;
  position: relative;
  margin-bottom: 4%;
  border-bottom: unset;
  background-image: unset;
}

.member_info_info_right div:nth-child(1) span {
  font-size: 24px;
  font-weight: bolder;
  vertical-align: top;
}

.member_info_info_right div:nth-child(1) img {
  width: 30px;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
  -webkit-animation: jump 1s infinite linear;
          animation: jump 1s infinite linear;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.member_info_info_right div {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
}

.member_info_info_right div label {
  margin-left: 5%;
  margin-right: 5%;
}

.member_info_info_right div input {
  text-align: center;
  width: 70%;
  height: 30px;
  font-size: 18px;
  border: unset;
  cursor: default;
  pointer-events: none;
}

.member_info_info_right div input:focus {
  border: 3px dashed #a5361c;
}

.member_info_info_button {
  padding: 7% 0 3% 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .member_info_info_line {
    display: none;
  }
  .member_info_info_left > div {
    display: block;
  }
  .member_info_info_left {
    width: 100%;
  }
  .member_info_info_right {
    width: 100%;
  }
  .member_info_info_right > div:nth-child(1) {
    display: none;
  }
  .member_info_info_button {
    padding-top: 0%;
  }
  .member_content {
    padding-bottom: 50px;
  }
}

.member_info_line {
  padding: 4.75%;
}

.member_info_line_all {
  background-image: url(../img/member/dot-grid.png);
  padding: 4.75% 4.75% 2.375% 4.75%;
}

.member_info_line_all_all {
  background-image: url(../img/member/hip-square.png);
  padding: 4.75%;
  margin-bottom: 2.375%;
  min-height: auto;
  border: 1px solid #646464;
  font-size: 0px;
  border-radius: 5px;
}

.member_info_line_all_all:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.member_info_line_all_left {
  width: 70%;
  display: inline-block;
  font-size: 24px;
}

.member_info_line_all_left input {
  text-align: center;
  padding: 2%;
  display: block;
  width: 100%;
  font-size: 24px;
  background-color: unset;
  border: 3px solid transparent;
  pointer-events: none;
}

.member_info_line_all_left input:focus {
  border: 3px dashed #a5361c;
}

.member_info_line_all_left textarea {
  font-size: 16px;
  text-indent: 32px;
  word-break: break-all;
  padding: 2%;
  display: block;
  width: 100%;
  resize: none;
  background-color: unset;
  border: 3px solid transparent;
  pointer-events: none;
}

.member_info_line_all_left textarea:focus {
  border: 3px dashed #a5361c;
}

.member_info_line_all_right {
  width: 30%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.member_info_line_all_right div {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
}

.member_info_line_all_bottom {
  margin-top: 20px;
  border: 6px solid #ccc;
  border-radius: 6px;
  height: 500px;
  border: 1px solid red;
}

@media screen and (max-width: 767px) {
  .member_info_line_all_left {
    padding: 0 0 5% 0;
    width: 100%;
    padding-left: 0%;
    text-align: center;
  }
  .member_info_line_all_right {
    width: 100%;
  }
  .member_info_line_all_right div {
    margin-top: 0;
    display: inline-block;
  }
  .member_info_line_all_right div:nth-child(3) {
    margin-left: 5%;
  }
  .member_info_line_all_bottom {
    margin: 0 auto;
    margin-top: 5%;
  }
}

.member_info_share {
  min-height: 656px;
  padding: 4.75%;
}

.member_info_share > div {
  padding: 4.75%;
  background-image: url(../img/member/dot-grid.png);
  font-size: 0;
}

.member_info_share_all_all {
  border-radius: 5px;
  border: 1px solid #646464;
  background-image: url(../img/member/hip-square.png);
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2.375%;
  padding: 1% 1% 2% 1%;
  display: inline-block;
  width: 30%;
  font-size: 18px;
}

.member_info_share_kind {
  padding: 2%;
}

.member_info_share_kind select {
  font-size: 18px;
  width: 100%;
  background-image: url(../img/member/hip-square.png);
  border: 3px dashed transparent;
  pointer-events: none;
}

.member_info_share_kind select:focus {
  border: 3px dashed #a5361c;
}

.member_info_share_image {
  padding: 1% 0;
}

.member_info_share_image img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_share_image > label {
  pointer-events: none;
  cursor: pointer;
}

.member_info_share_image > label > div > div {
  padding: 2%;
  background-image: url(../img/member/memphis-colorful.png);
}

.member_info_share_image > label > div > div > div {
  overflow: hidden;
}

.member_info_share_image > label > div > div:nth-child(2) {
  text-align: center;
}

.member_info_share_image > label > div > div:nth-child(2) img {
  width: 27px;
  vertical-align: text-bottom;
}

.member_info_share_heart {
  padding: 2% 0;
}

.member_info_share_heart img {
  width: 13%;
  vertical-align: sub;
}

.member_info_share_heart > p > img:nth-child(3) {
  margin-left: 3%;
}

.member_info_share_word textarea {
  padding: 1%;
  width: 100%;
  font-size: 18px;
  background-image: url(../img/member/hip-square.png);
  resize: none;
  text-indent: 36px;
  border: 3px dashed transparent;
  pointer-events: none;
}

.member_info_share_word textarea:focus {
  border: 3px dashed #a5361c;
}

.member_info_share_button {
  text-align: center;
  padding: 1%;
}

.member_info_share_all_all:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.member_info_share_all_all:hover .member_info_share_image > label > div > div > div > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .member_info_share_all_all {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .member_info_share_button > div:nth-child(3) {
    margin-left: 12%;
  }
}

@media screen and (max-width: 1023px) {
  .member_info_share_button > div:nth-child(3) {
    margin-left: 6%;
  }
}

@media screen and (max-width: 767px) {
  .member_info_share_all_all {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 3% 2% 3%;
  }
  .member_info_share_button > div:nth-child(3) {
    margin-left: 17%;
  }
}

@media screen and (max-width: 575px) {
  .member_info_share_button > div:nth-child(3) {
    margin-left: 2%;
  }
}

.member_info_order {
  padding: 4.75%;
}

.member_info_order > div {
  padding: 4.75%;
  background-image: url(../img/member/dot-grid.png);
}

.member_info_order > div > div {
  border: 1px solid #646464;
  padding: 0 3% 3% 3%;
  background-image: url(../img/member/hip-square.png);
  border-radius: 5px;
  margin-bottom: 2.375%;
  height: 100px;
  overflow: hidden;
}

.member_info_order > div > div:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.member_info_order_up {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0px;
  border: unset;
}

.member_info_order_up p {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  width: 25%;
}

.member_info_order_up p span {
  margin-left: 1%;
  font-weight: bolder;
}

.member_info_order_bottom {
  font-size: 0px;
}

.member_info_order_bottom > div {
  padding: 2%;
  text-align: center;
}

.member_info_order_bottom_front {
  margin-right: 1%;
  background-image: url(../img/member/dot-grid.png);
  display: inline-block;
  width: 40%;
  padding: 1%;
}

.member_info_order_bottom_front div {
  overflow: hidden;
}

.member_info_order_bottom_front img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_order_bottom_front:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.member_info_order_bottom_contrary {
  margin-left: 1%;
  background-image: url(../img/member/dot-grid.png);
  display: inline-block;
  width: 40%;
  padding: 1%;
}

.member_info_order_bottom_contrary div {
  overflow: hidden;
}

.member_info_order_bottom_contrary img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_order_bottom_contrary:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.member_info_order_bottom_word {
  border-bottom: 1px solid #646464;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
}

.member_info_order_bottom_word p {
  margin-top: 1%;
}

.member_info_order_bottom_word span {
  font-weight: bold;
  margin-left: 1%;
}

@media screen and (max-width: 1200px) {
  .member_info_order_up p {
    width: 50%;
    padding-bottom: 20px;
  }
  .member_info_order > div > div {
    height: 135px;
  }
}

@media screen and (max-width: 767px) {
  .member_info_order > div > div {
    height: 100px;
  }
}

@media screen and (max-width: 575px) {
  .member_info_order_up p {
    width: 100%;
    padding-bottom: 20px;
  }
  .member_info_order > div > div {
    height: 170px;
  }
}

.member_info_open {
  padding: 4.75%;
}

.member_info_open_all {
  background-image: url(../img/member/dot-grid.png);
  padding: 4.75%;
  padding-bottom: 2.375%;
}

.member_info_open_all_all {
  padding: 4.75%;
  margin-bottom: 2.375%;
  border: 1px solid #646464;
  background-image: url(../img/member/hip-square.png);
  font-size: 0px;
  padding-top: 30px;
  border-radius: 5px;
}

.member_info_open_all_all > form > input {
  width: 80%;
  font-family: "微軟正黑體";
  pointer-events: none;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  padding: 1% 0%;
  margin-bottom: 3%;
  display: block;
  background-color: unset;
  border: 3px solid transparent;
}

.member_info_open_all_all > form > input:focus {
  border: 3px dashed #a5361c;
}

.member_info_open_all_all:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.member_info_open_all_all:hover .member_info_open_all_left > label > div > div > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.member_info_open_all_all:hover .member_info_open_all_left > label > div {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.member_info_open_all_left {
  text-align: center;
  display: inline-block;
  width: 40%;
  font-size: 18px;
}

.member_info_open_all_left img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_open_all_left > label {
  pointer-events: none;
  cursor: pointer;
}

.member_info_open_all_left > label > div {
  background-image: url(../img/member/memphis-colorful.png);
  padding: 2%;
  margin: 0 auto;
}

.member_info_open_all_left > label > div > div {
  overflow: hidden;
}

.member_info_open_all_left > label > div > div:nth-child(2) {
  margin-top: 5px;
}

.member_info_open_all_left > label > div > div:nth-child(2) img {
  width: 27px;
  vertical-align: text-bottom;
}

.member_info_open_all_right {
  display: inline-block;
  width: 60%;
  font-size: 18px;
  vertical-align: top;
  padding-left: 2%;
}

.member_info_open_all_right div:nth-child(1) label {
  vertical-align: top;
  padding-top: 5px;
}

.member_info_open_all_right div:nth-child(1) div {
  font-size: 18px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  font: 400 Arial;
}

.member_info_open_all_right div:nth-child(1) div div {
  height: 30px;
  margin-left: 0;
}

.member_info_open_all_right > div:nth-child(9) label {
  vertical-align: top;
}

.member_info_open_all_right > div:nth-child(9) textarea {
  text-indent: 36px;
  border: 3px dashed transparent;
  background-image: url(../img/member/hip-square.png);
  padding: 1%;
  font-size: 18px;
  display: inline-block;
  width: 75%;
  padding-left: 2%;
  resize: none;
}

.member_info_open_all_right > div {
  border-bottom: 1px solid #646464;
  padding: 10px;
  font-size: 0px;
  margin-bottom: 10px;
}

.member_info_open_all_right > div label {
  margin-left: 5%;
  font-size: 18px;
  display: inline-block;
  width: 20%;
}

.member_info_open_all_right > div input {
  font-size: 18px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  border: unset;
  background-color: unset;
  height: 30px;
  pointer-events: none;
}

.member_info_open_all_right > div select {
  font-size: 18px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  border: unset;
  background-color: unset;
  height: 30px;
  pointer-events: none;
}

.member_info_open_all_right > div textarea {
  pointer-events: none;
}

.member_info_open_all_right > div input:focus {
  border: 3px dashed #a5361c;
}

.member_info_open_all_right > div textarea:focus {
  border: 3px dashed #a5361c;
}

.member_info_open_all_right > div:nth-child(7) label {
  vertical-align: top;
}

.member_info_open_all_right > div:nth-child(7) div {
  display: inline-block;
  width: 75%;
}

.member_info_open_all_right > div:nth-child(7) div div {
  font-size: 18px;
  display: inline-block;
  height: 30px;
  margin-left: 5%;
  font: 400 Arial;
  padding-left: 2%;
}

.member_info_open_all_bottom {
  padding: 2% 0;
  font-size: 0px;
  text-align: center;
}

.member_info_open_all_bottom div:nth-child(3) {
  margin-left: 10%;
}

@media screen and (max-width: 1200px) {
  .member_info_open_all_left {
    padding: 1.5% 1.5% 1% 0%;
  }
}

@media screen and (max-width: 1023px) {
  .member_info_open_all_left {
    width: 50%;
    margin: 0 25%;
    padding-right: 0px;
    margin-bottom: 3%;
  }
  .member_info_open_all_right {
    width: 100%;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .member_info_open_all_right > div label {
    width: 100%;
    margin-top: 20px;
  }
  .member_info_open_all_right > div input {
    margin-top: 10px;
    width: 100%;
    text-indent: 36px;
  }
  .member_info_open_all_right > div input[type=date] {
    text-indent: 18px;
  }
  .member_info_open_all_right > div select {
    text-indent: 36px;
  }
  .member_info_open_all_right > div:nth-child(1) div {
    text-indent: 36px;
  }
  .member_info_open_all_right > div:nth-child(1) div:nth-child(2) > div:nth-child(1) {
    text-indent: 0px;
  }
  .member_info_open_all_right > div:nth-child(9) textarea {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    text-indent: 36px;
  }
  .member_info_open_all_right > div:nth-child(7) > div:nth-child(2) div {
    text-indent: 36px;
  }
}

@media screen and (max-width: 575px) {
  .member_info_open_all_right {
    font-size: 16px;
  }
  .member_info_open_all_bottom div:nth-child(3) {
    margin-left: 5%;
  }
}

.member_info_join {
  padding: 4.75%;
}

.member_info_join_all {
  background-image: url(../img/member/dot-grid.png);
  padding: 4.75%;
  padding-bottom: 2.375%;
}

.member_info_join_all_all {
  padding: 4.75%;
  margin-bottom: 2.375%;
  border: 1px solid #646464;
  background-image: url(../img/member/hip-square.png);
  font-size: 0px;
  border-radius: 5px;
  padding-top: 30px;
  height: 110px;
  overflow: hidden;
}

.member_info_join_all_all > input {
  width: 80%;
  font-family: "微軟正黑體";
  pointer-events: none;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  padding: 1% 0%;
  margin-bottom: 3%;
  display: block;
  background-color: unset;
  border: 3px solid transparent;
}

.member_info_open_all_left > div > div > img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_join_all_all:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.member_info_join_all_all:hover .member_info_join_all_left > div > div > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_join_all_all:hover .member_info_join_all_left > div {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.member_info_join_all_left > div {
  background-image: url(../img/member/memphis-colorful.png);
  padding: 2%;
  margin: 0 auto;
}

.member_info_join_all_left > div > div {
  overflow: hidden;
}

.member_info_join_all_left {
  display: inline-block;
  width: 40%;
  font-size: 18px;
}

.member_info_join_all_right {
  display: inline-block;
  width: 60%;
  font-size: 18px;
  vertical-align: top;
  padding-left: 2%;
}

.member_info_join_all_right > div:nth-child(7) label {
  vertical-align: top;
}

.member_info_join_all_right > div:nth-child(7) div {
  width: 75%;
  display: inline-block;
}

.member_info_join_all_right > div:nth-child(7) div input {
  padding-left: 2%;
}

.member_info_join_all_right > div:nth-child(9) label {
  vertical-align: top;
}

.member_info_join_all_right > div:nth-child(9) textarea {
  border: unset;
  background-image: url(../img/member/hip-square.png);
  padding: 1%;
  font-size: 18px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  resize: none;
}

.member_info_join_all_right > div {
  border-bottom: 1px solid #646464;
  padding: 10px;
  font-size: 0px;
  margin-bottom: 10px;
}

.member_info_join_all_right > div label {
  margin-left: 5%;
  font-size: 18px;
  display: inline-block;
  width: 20%;
}

.member_info_join_all_right > div input {
  font-size: 18px;
  display: inline-block;
  margin-left: 5%;
  width: 70%;
  border: unset;
  background-image: url(../img/member/hip-square.png);
  height: 30px;
}

.member_info_join_all_left > div > div > img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.member_info_join_all_bottom {
  padding: 2% 0;
  font-size: 0px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .member_info_join_all_left {
    padding: 1.5% 1.5% 1% 0%;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1023px) {
  .member_info_join_all_left {
    width: 50%;
    margin: 0 25%;
    padding-right: 0px;
    margin-bottom: 3%;
  }
  .member_info_join_all_right {
    width: 100%;
    padding-left: 0px;
  }
  .member_info_join_all_all {
    height: 105px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 767px) {
  .member_info_join_all_right > div label {
    width: 100%;
    margin-top: 20px;
  }
  .member_info_join_all_right > div input {
    margin-top: 10px;
    text-indent: 36px;
    width: 100%;
  }
  .member_info_join_all_right > div input[type=date] {
    text-indent: 18px;
  }
  .member_info_join_all_right > div:nth-child(9) textarea {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    text-indent: 36px;
  }
  .member_info_join_all_all {
    padding-top: 20px;
    height: 85px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 575px) {
  .member_info_join_all_all h1 {
    font-size: 18px;
  }
  .member_info_join_all_right {
    font-size: 16px;
  }
  .member_info_join_all_all {
    padding-top: 10px;
    height: 65px;
  }
}
/*# sourceMappingURL=member.css.map */