// fontType
$fontFamily:"微軟正黑體";

// fontSize
$fzTitle:24px;
$fzContent:18px;
$fzInfo:16px;

// important color
$importantColor:#a5361c;

//fontColor
$fcContent:#1e1e1e;
$fcInfo:#646464;

// backGroundImage
$bgImage:url("../img/element/bgImage.png");
$bgGrid:url("../img/element/bgGrid.png");

//RWD
$medium:1023px;
$small:575px;

// box-shadow 
$slightShadow:0px 2px 4px rgba(0,0,0,.3);

$mediumShadow:0px 0px 10px rgba(0,0,0,.3);

$heavierShadow:0px 4px 15px rgba(0,0,0,.4);

//border-radius
$radius: 6px;